.navbar {
  background-color: transparent !important;
}

.navbar h3 {
  font-size: 22px;
  margin-right: 10px;
  font-weight: 500;
} 

.navbar img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.navlinks {
  width: 100%;
  align-items: flex-start;
}

.navlinks a {
  color: black;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 0 10px;
  display: inline-block;
  transition: all 0.5s ease-in-out;
}

.navlinks a:hover {
  color: var(--main-color, #4318ff);
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .navlinks {
    align-items: center;
  }
}
@media (max-width: 576px) {
  .navbar h3 {
    font-size: 18px;
  }
}